.wcf_adress {
  padding: 15px 20px; }
  .wcf_adress .wcfa_name {
    font-family: OpenSans-Extrabold,sans-serif;
    font-size: 12px;
    color: #000; }
  .wcf_adress .wcfa_location {
    font-size: 12px;
    color: #000;
    background: url(../img/adress1.png) no-repeat 0 0;
    padding-left: 30px;
    margin-top: 20px; }
  .wcf_adress .wcfa_tel {
    font-size: 12px;
    color: #000;
    background: url(../img/adress2.png) no-repeat 0 2px;
    margin-top: 20px;
    padding: 5px 5px 5px 30px; }
  .wcf_adress .wcfa_wrap_a {
    margin-top: 20px; }
  .wcf_adress .wcfa_wrap_a .red_but {
      float: right; }
  .wcf_adress .wcfa_wrap_a .blue_but {
      float: left; }

      
.answer {
  color: #DC0000;
}

.answer div {
margin-bottom: 5px;

}