
.load-clip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.88);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}